* {
    font-family: LazyType;
}
.Navbar {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    align-items: flex-end;
}
