* {
    font-family: roboto;
    box-sizing: border-box;
}
.gameLogsContainer {
    /* border: 1px solid red; */
    width: 250px;
    height: 50px;
    position: relative;
    display: flex;
}
.actionsLabel {
    position: absolute;
    color: rgb(216, 109, 37);
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    display: flex;
    width: 200px;
    /* border: 1px solid red; */
    animation: actionsPopUp 2s ease-out;
    opacity: 0;
}

@keyframes actionsPopUp {
    0% {
        top: 100px;
        opacity: 1;
    }
    50% {
        opacity: 1;
        top: 0px;
    }
    100% {
        opacity: 0;
    }
}
