:root {
  --squareSize: 70px;
  --white: #ffffff;
}

.Game_Board_Square {
  width: var(--squareSize);
  height: var(--squareSize);
  border: 1px solid rgb(201, 73, 13);
  margin: 0 auto;
  background: rgb(226 134 134 / 73%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3700d4;
}

.visibleFalse {
  background: rgb(228 199 199 / 73%);
  border: 1px solid rgb(233, 221, 216);
  color: #ffffff;
  /* opacity: 0; */
}

.check {
  background-color: yellow;
}

.pathed {
  animation-name: successPath;
  animation-duration: 2s;
  /* background-color: red; */
}

.selected {
  background-color: rgba(236, 69, 69, 0.73);
  animation-name: selectedMotion;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.hinted {
  animation-name: hinted;
  animation-duration: 0.8s;
}

@keyframes successPath {
  from {
    border: 15px solid green;
  }
  to {
    background-color: rgb(228 199 199 / 85%);
  }
}
@keyframes selectedMotion {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes hinted {
  from {
    border: 30px solid rgb(128, 60, 192);
  }
  to {
    background-color: rgb(228 199 199 / 85%);
  }
}
