:root {
    --squareSize: 70px;
    --white: #ffffff;
    font-family: LazyType;
}

.Game_Board_Square {
    width: var(--squareSize);
    height: var(--squareSize);
    /* border: 1px solid rgb(201, 73, 13); */
    margin: 0 auto;
    background: rgba(226, 176, 176, 0.73);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3700d4;
    cursor: pointer;
    border-radius: 14%;
}

img {
    transform: translateZ();
    transition: transform 0.2s ease-out;
    border-radius: 15%;
}

img:hover {
    transform: scale(1.1);
    background: rgba(223, 153, 153, 0.73);
}

.visibleFalse {
    background: rgb(228 199 199 / 20%);
    border: 1px solid rgb(233, 221, 216 /20%);
    color: #ffffff;
    cursor: default;
    /* opacity: 0.3; */
}

.check {
    background-color: yellow;
}

.pathed {
    animation-name: successPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    /* background-color: red; */
}

.boarded {
    box-shadow: 1px 1px 1px 1px rgba(95, 79, 79, 0.2);
}

.selected {
    background-color: rgba(175, 13, 13, 0.73);
    animation-name: selectedMotion;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.hinted {
    animation-name: hinted;
    animation-duration: 0.8s;
}

@keyframes successPath {
    0% {
        border: 5px solid rgba(218, 31, 31, 0.73);
        border-radius: 15%;
        opacity: 0.1;
        /* transform: rotateY(270deg); */
    }
    30% {
        border: 15px solid rgba(194, 112, 112, 0.73);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        /* transform: rotateY(270deg); */
    }
    60% {
        border: 5px solid rgba(211, 159, 159, 0.73);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        opacity: 1;
        /* transform: rotateY(270deg); */
    }
    80% {
        border: 5px solid rgba(211, 159, 159, 0.73);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        /* transform: rotateY(270deg); */
    }
    100% {
        background-color: rgba(223, 209, 209, 0.73);
        border-radius: 50%;
        transform: rotateZ(1500deg);
        opacity: 0.1;
        /* border-radius: 20%; */
    }
}
@keyframes selectedMotion {
    to {
        transform: rotateY(270deg);
    }
}

@keyframes hinted {
    from {
        border: 30px solid rgb(171, 122, 218);
    }
    to {
        background-color: rgb(228 199 199 / 85%);
    }
}
